.cms-page-left{
    padding: 5px 15px 20px 5px;
    dt {  font-size: 15px;  height: 25px;  line-height: 25px;  margin-bottom: 5px;text-transform: uppercase;  border-bottom: 1px solid;  padding-bottom: 4px;  }
    dd {  border-bottom: 1px dashed #ccc;  line-height: 22px;  padding:5px 0 5px 10px;}
    a.on{color:#864887;}
}